.btn{
  @include body-text($white);
  background: $blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0 10px;
  &:hover{
    background: $hover;
  }
  &_white{
    background: $white;
    color: $blue;
    &:hover{
      background: darken($white,20%);
    }
  }
}

.link{
  color: $blue;
  display: inline-flex;
  &:hover{
    color: $hover;
  }
}