.input,
.textarea{
  width: 100%;
  background: transparent;
  border: 1px solid #C8D3E2;
  color: $main;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Inter";
  cursor:pointer;
  padding: 15px 20px;
  transition: .3s all;
  height: 55px;
  resize:none;
  &::placeholder{
    color: $main;
    opacity: $opacity;
  }
  &:hover{
    background-color: $white;
    color: $main;
    opacity: 1;
  }
}
.search{
  position: relative;
  &__input{
    background: #F0F3F7;
    padding-right: 40px;
    &:hover{
      background: #F0F3F7;
    }
  }
  &__btn{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}