.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(1, 18, 41, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  &__form{
    padding: 45px 50px;
    background: $white;
    max-width: 555px;
    position: relative;
  }
  &__title{
    margin-bottom: 25px;
  }
  &__input{
    margin-bottom: 20px;
  }
  &__textarea{
    min-height: 150px;
  }
  &__btn{
    margin-top: 20px;
    width: 100%;
  }
  &__attention{
    margin-top: 15px;
  }
}

#close-popup{
  cursor: pointer;
  position: absolute;
  right: -16px;
  top: -18px;
  background-image: url("../../static/img/close.svg");
  background-repeat: no-repeat;
  background-size: 39px;
  display: block;
  background-color: #F0F3F7;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  &:hover{
    background-color: lighten(#F0F3F7,20%);
  }
}