@font-face{
  font-family:"Manrope";
  src: url('../fonts/.eot');
  src: url('../fonts/.eot?#iefix') format('embedded-opentype'),
  url('../fonts/.woff2') format('woff2'),
  url('../fonts/.woff') format('woff'),
  url('../fonts/.ttf') format('truetype');
  font-style:normal;
  font-weight: 500;
  font-display:swap;
}

@font-face{
  font-family:"Manrope";
  src: url('../fonts/.eot');
  src: url('../fonts/.eot?#iefix') format('embedded-opentype'),
  url('../fonts/.woff2') format('woff2'),
  url('../fonts/.woff') format('woff'),
  url('../fonts/.ttf') format('truetype');
  font-style:normal;
  font-weight: 800;
  font-display:swap;
}